@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #ff6f61;
    --secondary-color: #4caf50;
    --font-family: 'Poppins, Inter', sans-serif;
    --background-color: #f9f9f9;
    --text-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.5rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
} */

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    /* --font-family: 'Poppins', sans-serif; */
}
