@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #4caf50;
    --secondary-color: #fc4a3a;
    --background-color: #f9f9f9;
    --text-color: #444;
    --secondary-text-color: #222;
    --font-family: 'Poppins', sans-serif;
    --sub-text: 'Inter', sans-serif;
    /* Add font-size */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 0 auto;
    min-height: 100vh;
    line-height: 1.6;
    /* padding: 0 2.8rem; */
    /* position: relative; */
    /* Add font-size */
}

/* BEGINNING OF NAV BAR */
.header {
    background-color: #fff;
    width: 100%;
    
}

nav {
    background-color: #fff;
    /* backdrop-filter: blur(10px); */
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 0.8rem 2.5rem;
    max-width: 1440px;
    margin: auto;
    transition: box-shadow 0.3s ease;
}

#nav.scrolled {
    box-shadow: 0 8px 8px -2px rgba(0, 0, 0, 0.1);
}

.logo-section h1 {
    font-family: var(--font-family);
    color: var(--primary-color);
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    white-space: nowrap;
    /* margin-right: 2.5rem; */
    /* width: 25%; */
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav-links li {
    list-style: none;
    height: 100%;
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size:0.8rem;
    width: 100%;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-links a:focus {
    color: var(--primary-color);
}

.nav-links li #tips {
    white-space: nowrap;
}

.nav-links li #contact {
    padding-right: 0;
}

.actions-section {
    display: flex;
    /* margin-left: 2.5rem; */
}

.search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
}

.search-section .search {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 20px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    font-family: var(--sub-text);
    background-color: var(--secondary-color);
    opacity: 0.7;
}

.search-section .search::placeholder {
    color: #fff;
}

.search-section .search-button {
    background-color: var(--secondary-color);
    padding: 0.56rem 0.8rem;
    border: none;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -10px;
    cursor: pointer;
}

.theme-toggle {
    background-color: #e9e7e7;
    padding: 0.6rem;
    border: none;
    border-radius: 24px;
    margin-left: 0.8rem;
    cursor: pointer;
}

.theme-toggle .fa-moon {
    font-size: 16px;
}

/* Sidebar styles - Beginning */
.sidebar {
        display: none;
    }

.sidebar-menu-button {
    background-color: transparent;
    border: none;
    /* padding: 0.6rem; */
    cursor: pointer;
}

.sidebar-menu-button .fa-bars {
    font-size: 20px;
    color: var(--text-color);
}

.sidebar-links-section {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(10px);;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.sidebar-links-section.active {
    transform: translateX(0);
}

.sidebar-links-section .close-button {
    background-color: transparent;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 2rem;
}

.sidebar-links-section .close-button .fa-times {
    font-size: 20px;
    color: var(--text-color);
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebar-links li {
    list-style: none;
}

.sidebar-links a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 0.8rem;
    width: 100%;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.sidebar-links a:hover {
    color: var(--primary-color);
}

.sidebar-links a:focus {
    color: var(--primary-color);
}
/* Sidebar styles - End */

/* END OF NAV BAR */

/* BEGINNING OF HERO SECTION */
.hero {
    background: url(./images/hero-image.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 15vh);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    /* flex-shrink: 0; */
    /* background-attachment: fixed; */
}

.hero-texts {
    text-align: center;
    color: #000;
    margin-top: 2rem;
    /* flex-shrink: 0; */
    /* color: var(--text-color); */
}

.hero-texts h2 {
    font-size: clamp(1.2rem, 2.5vw, 3.5rem);
    margin-bottom: 0.4rem;
    font-weight: 700;
}

.hero-texts h2 span {
    color: var(--primary-color);
}

.hero-texts p {
    font-size: clamp(0.5rem, 2.5vw, 1.1rem);
    margin-bottom: 1rem;
    font-family: var(--sub-text);
}

.hero-texts .button-cta {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    font-size: clamp(0.9rem, 2vw, 1rem);
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: var(--background-color) 0.3s ease;
    transition: transform 0.2s ease;
}

.hero-texts .button-cta:hover::before {
    background-color: #45a049;
}

.hero-texts .button-cta:active {
    transform: translateY(2px);
    background-color: #45a049;
}

/* Shiny border */
.hero-texts .button-cta::before {
    /* outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); */
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(90deg, #fff, #7dffb3, #fff);
    background-size: 300% 300%;
    animation: borderGlow 4s linear infinite;
    z-index: -1;
}

.hero-texts .button-cta::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--primary-color);
    border-radius: inherit;
    z-index: -1;
} 

@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}



/* END OF HERO SECTION */

.food-images {
    width: 15%;
    height: 15%;
}

/* RESPONSIVENESS */
@media (max-width: 767px) {
    .sidebar {
        display: block;
    }

    .nav-links-section, .actions-section {
        display: none;
    }

    .hero-texts {
        margin-top: 5rem;
        padding: 0 1rem;
    }

    .hero-texts .button-cta {
        font-size: 0.8rem;
        padding: 0.8rem 1.2rem;
    }

    .hero { 
        min-height: 40vh;
        padding: 1rem; 
        /* background-attachment: scroll;  */
    }
 }

 @media (max-width: 1024px) {
    .nav-links a {
        font-size: 0.7rem;
    }
 }